ipdb==0.11
numpy==1.14.2
gym.egg==info
scipy==1.1.0
Click==7.0
torch==1.0.0
setuptools==40.6.2
joblib==0.13.0
gym_minigrid.egg==info
tensorflow_gpu==1.12.0
visdom.egg==info
tqdm==4.28.1
cloudpickle==0.6.1
mujoco_py==2.0.2.2
pybulletgym.egg==info
pandas==0.23.4
opencv_python==3.4.3.18
matplotlib==3.0.2
filelock==3.0.12
glob2==0.7
gym==0.13.0
mpi4py==3.0.2
pytest==4.6.3
seaborn==0.9.0
statsmodels==0.10.0
